/* GLOBAL */
/* Variables */
:root {
  --mainBg: #fff;
  --mainFontColor: #333;
  --fontSize: 18px;
  --fontSizeMobile: 0.888888889rem;
  --contrastFontColor: #fff;
  --primaryColor: #772211; // This is a main color you'll use for things like primary buttons
  --accentColor: #2233aa; // This is an accent color that'll be used for secondary colors and/or hover states
  --roundedRadius: 12px; // This is for the radius of rounded things for consistency. We don't always have to use it, but should be on most things with rounded edges
  --imageOverlay: rgba(0, 0, 0, 0.2);
  --bodyFont: Helvetica, sans-serif;
  --accentFont: Georgia, serif; // Secondary font for headers and other things like buttons
  --buttonPadding: 0.5rem 1rem; // Padding for most standard buttons
  --transitionStyle: all 300ms ease;
  --readableWidth: 640px; // A reasonable width for text and other elements to keep things consistent and help with readability.  This should be changed with the font size and font family.
  --noveltyWidth: 900px; // Use this for elements that should break out of the text, but should not be full width.
  --contentAreaWidth: 1200px;
}

$screenSizeSmall: 540px;
$screenSizeMed: 980px; // Parts of Superfish depend on this and may need to be reconfigured if this is changed.

/* End of Variables */
html {
  scroll-behavior: smooth;
}

.region {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  position: relative;
  &:hover {
    div.contextual-links-wrapper {
      a {
        display: block;
      }
      ul.contextual-links {
        width: 150px;
      }
    }
  }
}

body {
  @media (prefers-color-scheme: dark) {
    // For when we start supporting dark modes. Talk to Garrett.
  }

  box-sizing: border-box;
  font-size: var(--fontSize);
  color: var(--mainFontColor);
  line-height: 1.55; // Change as needed based on font selection
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media only screen and (max-width: $screenSizeSmall) {
    font-size: var(--fontSizeMobile);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25;
  }

  img {
    height: 100%;
  }

  button,
  .button,
  input[type="button"],
  input[type="submit"] {
    border: none;
    text-decoration: none;
    background-color: var(--primaryColor);
    color: var(--contrastFontColor);
    transition: var(--transitionStyle);
    padding: var(--buttonPadding);
    border-radius: var(
      --roundedRadius
    ); // Remove this if buttons should not be rounded

    &:hover {
      text-decoration: none;
      box-shadow: inset 300px 300px 0 rgba(255, 255, 255, 0.09); // Simple hover effect, replace unless you like it.
    }

    a {
      text-decoration: none;
      color: var(--contrastFontColor);
    }
  }

  .block .content:before,
  .block .content:after {
    content: none;
    display: none;
  }

  .drop-trigger {
    display: none;
  }

  & > header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 120px;

    .inner {
      width: 100%;
      max-width: var(--contentAreaWidth);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: $screenSizeMed) {
        flex-direction: column;
      }

      #block-block-1 {
        display: none;

        @media only screen and (max-width: $screenSizeSmall) {
          display: block;
          color: var(--contrastFontColor);
        }
      }

      ul#superfish-1 {
        display: flex;
        justify-content: flex-end;

        & > li {
          & > a {
            padding: 30px;
          }

          ul {
            padding-top: 18px;
            background: var(--mainBg);

            li {
              a {
                padding: 20px 30px;
              }
            }
          }
        }
      }
    }
  }

  #main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    #block-fieldblock-node-page-default-field-header-image {
      width: 100%;
    }

    .field-name-field-header-image {
      height: 80vh;
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--imageOverlay);
      }

      .field-name-field-caption {
        font-size: 2.5rem;
        color: var(--contrastFontColor);
      }
    }

    h1 {
      width: 100%;
      max-width: var(--readableWidth);
      text-align: center;
      margin: 20px auto;
    }

    article.node {
      > .content {
        .field-name-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p,
          ul,
          ol,
          blockquote {
            max-width: var(--readableWidth);
            width: 100%;
          }

          .media-p {
            max-width: var(--noveltyWidth);
          }

          img {
            max-width: var(--readableWidth);

            &.file-bump-out {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  footer[role="contentinfo"] {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    .inner {
      max-width: var(--contentAreaWidth);
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;

      @media only screen and (max-width: $screenSizeSmall) {
        flex-direction: column;
      }

      .block {
        width: 50%;
      }
    }

    #block-block-2 {
      width: 100%;
      margin-top: 2rem;

      .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: var(--contentAreaWidth);
        margin: auto;

        @media only screen and (max-width: $screenSizeSmall) {
          flex-direction: column;
        }
      }
    }
  }

  .hidden,
  .element-invisible {
    display: none;
  }

  * {
    box-sizing: inherit; // Setting box sizing to be consistent
  }
}

/* This fixes issues with Chrome not listing media files in bulleted lists properly */
li div.media,
li div.media div {
  display: inline;
}

/* Display and Style Nav Trigger block for Menu Superfish Styles*/
@media only screen and (max-width: $screenSizeMed) {
  .header-region {
    width: 100%;
  }
  #block-block-1 {
    display: inline-block !important;
    width: 100%;
    text-align: center;
    cursor: pointer;
    .content {
      padding: 10px 15px;
      background: #eee;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: 0.3s ease;
      &:hover {
        background: #477fda;
        color: #fff;
      }
      p:before {
        content: "\2630";
        font-size: 0.8em;
        margin-right: 4px;
        vertical-align: text-bottom;
      }
    }
  }
  .menu-active #block-block-1 .content p:before {
    content: "\2715";
    font-size: 0.8em;
    margin-right: 4px;
    vertical-align: text-bottom;
  }
  /* Basic toggle for main menu when trigger is clicked */
  #block-superfish-1 {
    display: none;
    width: 100%;
  }
  .menu-active #block-superfish-1 {
    display: block;
  }
  /* Mobile layout for Main Menu */
  #superfish-1 {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 100%;
    }
  }
  .drop-trigger {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 100;
    line-height: 40px;
    text-align: center;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .dropdown-active .drop-trigger {
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
  #superfish-1 > li.menuparent {
    > ul {
      width: 100%;
      position: static;
      opacity: 1;
      pointer-events: inherit;
      display: none !important;
    }
    &.dropdown-active > ul {
      display: block !important;
    }
  }
}

.clearfix:after {
  content: none;
}

/*Webforms */
form.webform-client-form {
  max-width: 580px;
  margin: 2rem auto;

  .form-item {
    display: flex;
    flex-direction: column;

    label,
    input,
    textarea {
      width: 100%;
    }

    .grippie {
      display: none;
    }
  }

  div.form-actions {
    text-align: center;

    input {
      padding: 0.75rem 3rem;
    }
  }
}
/* End of Webforms */

/**
 * 5 - Admin Menu
 * ----------------------------------------------------------------------------
**/

#admin-menu {
  box-shadow: none;
  background: #222;
  
}

#admin-close-button {
  display: none;
}

@media screen and (max-width: 980px) {
  /* General Responsive Admin Styles */
  #admin-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: fixed;
    height: unset;
  }

  #admin-close-button {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: #999;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #admin-close-button .close-icon {
    display: inline-block;
    line-height: 40px;
    font-size: 28px;
    transition: 0.5s ease;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #admin-menu.admin-menu-open .close-icon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #admin-menu-wrapper {
    height: 40px;
    margin-top: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    transition: 0.8s ease;
  }

  #admin-menu.admin-menu-open #admin-menu-wrapper {
    height: calc(100vh - 40px);
    margin-top: 40px;
  }

  #admin-menu .dropdown a {
    min-height: 40px;
    line-height: 1.3;
    font-size: 14px;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  #admin-menu .dropdown li,
  #admin-menu .dropdown li li {
    float: none;
    width: 100%;
  }

  #admin-menu .dropdown li,
  #admin-menu .dropdown li a,
  #admin-menu .dropdown li li a {
    background: none !important;
    border-top: none;
    box-sizing: border-box;
  }

  #admin-menu .dropdown li ul {
    position: relative;
    display: block !important;
    left: 0 !important;
    width: 100%;
  }

  #admin-menu .dropdown li li.expandable ul {
    margin: 0;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > a,
  #admin-menu .dropdown .admin-menu-action > a {
    border-radius: 0;
    box-sizing: border-box;
  }

  /* Home Icon Styles */
  #admin-menu-icon {
    background: #444;
  }

  #admin-menu .dropdown .admin-menu-icon > a {
    box-sizing: border-box;
  }

  #admin-menu .dropdown .admin-menu-icon > a span {
    width: 40px;
    height: 40px;
    line-height: 36px;
    background: none;
    text-indent: 0;
  }

  #admin-menu #admin-menu-icon .admin-menu-toolbar-category {
    position: absolute;
    top: 0;
    left: 40px;
    height: 40px !important;
    background: #444 !important;
    z-index: 10;
  }

  /* TEMP STYLE - COME BACK AND MAKE THESE ACCESSIBLE */
  #admin-menu-icon#admin-menu-icon .dropdown,
  #admin-menu-users,
  #admin-menu-search {
    display: none !important;
  }

  /* Primary Menu Styles */
  #admin-menu #admin-menu-menu {
    background: #222 !important;
    height: 100%;
    height: calc(100% - 40px);
    padding-top: 0;
    box-shadow: inset 200px 0 0 0 #333;
    transition: 0.3s ease;
    overflow: auto;
  }

  .admin-menu-open #admin-menu #admin-menu-menu {
    padding-top: 20px;
  }

  #admin-menu-menu.dropdown li.admin-menu-toolbar-category {
    height: auto;
    width: 200px;
  }

  #admin-menu-menu.dropdown
    li.admin-menu-toolbar-category.expandable
    .major-trigger {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    margin-top: 0;
    height: 40px;
    height: calc(1.3em + 28px);
    cursor: pointer;
  }

  #admin-menu-menu.dropdown li.admin-menu-toolbar-category.expandable:before {
    content: "➤";
    display: block;
    position: absolute;
    height: 40px;
    height: calc(1.3em + 28px);
    width: 40px;
    margin-left: 160px;
    cursor: pointer;
    line-height: calc(1.3em + 28px);
    text-align: center;
    transition: 0.3s ease;
    color: rgba(255, 255, 255, 0.33);
    box-shadow: inset 1px -1px 0 0 rgba(0, 0, 0, 0.33),
      inset 0 1px 0 0 rgba(0, 0, 0, 0.33);
  }

  #admin-menu-menu.dropdown
    li.admin-menu-toolbar-category.expandable.cat-open:before {
    background: #222;
  }

  #admin-menu-menu.dropdown
    li.admin-menu-toolbar-category.expandable
    + li.admin-menu-toolbar-category.expandable:before {
    box-shadow: inset 1px -1px 0 0 rgba(0, 0, 0, 0.33);
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category > a {
    text-transform: uppercase;
    background: transparent !important;
    transition: 0.25s ease;
    padding: 12px 20px;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category.cat-open > a {
    background: #292929 !important;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category li {
    padding-left: 20px;
  }

  #admin-menu .admin-menu-toolbar-category a.sub-menu-header {
    text-align: right;
  }

  .admin-menu-toolbar-category a.sub-menu-header:before {
    content: "View ";
  }

  .admin-menu-toolbar-category a.sub-menu-header:after {
    content: " ➤";
    display: inline-block;
    width: 40px;
    text-align: center;
    opacity: 0.2;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > ul > li {
    padding: 0 20px;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown {
    display: block !important;
    position: absolute;
    top: 0;
    left: 200px !important;
    overflow: auto;
    top: 40px;
    padding: 0;
    background-color: #222;
    width: calc(100% - 200px);
    height: 100%;
    height: calc(100% - 80px);
    max-height: 0;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0s ease 0.3s;
  }

  #admin-menu
    .dropdown
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-of-type(1),
  #admin-menu
    .dropdown
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-of-type(2) {
    margin-top: 22px !important;
    box-sizing: border-box;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category.cat-open > .dropdown {
    opacity: 1;
    max-height: 100%;
    transition: opacity 0.3s ease, max-height 0s ease 0s;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown > li {
    padding-bottom: 20px;
    height: auto;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown > li > a {
    font-weight: 700;
    text-transform: uppercase;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown > li > a {
    padding-top: 18px;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown > li > a,
  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown > li > ul {
    background: #333 !important;
  }

  #admin-menu
    .dropdown
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-of-type(odd) {
    width: 50%;
    float: left;
    clear: left;
    padding-right: 10px;
  }

  #admin-menu
    .dropdown
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-of-type(even) {
    width: 50%;
    float: right;
    clear: right;
    padding-left: 10px;
  }

  .little-trigger {
    float: right;
    height: 40px;
    width: 40px;
    color: rgba(255, 255, 255, 0.33);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: inset 1px -1px 0 0 rgba(0, 0, 0, 0.33),
      inset 0 1px 0 0 rgba(0, 0, 0, 0.33);
  }

  li.expandable + li.expandable > .little-trigger {
    box-shadow: inset 1px -1px 0 0 rgba(0, 0, 0, 0.33);
  }

  #admin-menu-menu.dropdown
    .admin-menu-toolbar-category
    ul
    ul
    ul.cat-open
    .little-trigger {
    box-shadow: none;
  }

  .little-trigger .trigger-inner {
    display: block;
    transition: 0.3s ease;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .little-trigger.cat-open .trigger-inner {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category ul ul ul {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0s ease 0.3s;
    background: #222;
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category ul ul ul.cat-open {
    max-height: 1000vh;
    opacity: 1;
    transition: opacity 0.3s ease, max-height 0s ease 0s;
  }

  /* Account Info Styles */
  #admin-menu-account.dropdown {
    background: #444;
    position: relative;
    bottom: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    float: right;
  }

  #admin-menu #admin-menu-account .dropdown {
    display: none !important;
  }

  /* Yes, I know using two IDs is bad, but sometimes a theme needs to override a module */
  #admin-menu #admin-menu-account li.admin-menu-action {
    float: right;
    width: auto;
    padding-left: 0;
  }

  #admin-menu #admin-menu-account .admin-menu-action a {
    margin-bottom: 0;
    line-height: 34px;
    box-sizing: border-box;
  }

  #admin-menu.admin-menu-open #admin-menu-wrapper {
    box-shadow: inset 0 -40px 0 0 #444;
  }

  #admin-menu-menu.dropdown li.admin-menu-toolbar-category:first-child {
    margin-top: 20px !important;
  }

  #admin-menu #admin-menu-icon .admin-menu-toolbar-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #admin-menu-icon .dropdown .admin-menu-icon > a {
    width: 160px;
  }

  #admin-menu-icon#admin-menu-icon .dropdown {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: static;
    overflow: hidden;
    max-height: 40px;
    height: 40px;
    opacity: 1;
    background: none;
    width: calc(100% - 100px);
  }

  #admin-menu-icon#admin-menu-icon .dropdown .dropdown {
    display: none !important;
  }

  #admin-menu-icon#admin-menu-icon .dropdown li {
    width: auto !important;
    float: none !important;
    padding: 0 1px;
  }

  #admin-menu-icon#admin-menu-icon .dropdown li a {
    font-weight: 300;
    text-transform: none;
    padding: 4px 15px !important;
    line-height: 36px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: 0.75s ease;
    transition: 0.75s ease;
  }

  .admin-menu-open #admin-menu-icon#admin-menu-icon .dropdown li a {
    opacity: 1;
    pointer-events: inherit;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  #admin-menu-menu.dropdown
    li.admin-menu-toolbar-category.expandable
    .major-trigger,
  #admin-menu-menu.dropdown .admin-menu-toolbar-category > a {
    opacity: 0;
    -webkit-transition: 0.75s ease;
    transition: 0.75s ease;
  }

  .admin-menu-open
    #admin-menu-menu.dropdown
    li.admin-menu-toolbar-category.expandable
    .major-trigger,
  .admin-menu-open #admin-menu-menu.dropdown .admin-menu-toolbar-category > a {
    opacity: 1;
  }

  #admin-menu
    #admin-menu-icon
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-of-type(1),
  #admin-menu
    #admin-menu-icon
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-of-type(2) {
    margin: 0 !important;
  }
  
}

@media screen and (max-width: 700px) {
  #admin-menu
    .dropdown
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-child(odd),
  #admin-menu
    .dropdown
    .admin-menu-toolbar-category
    > .dropdown
    > li:nth-child(even) {
    width: 100%;
    float: none;
    padding: 0 20px 20px;
    margin-top: 0 !important;
  }

  #admin-menu-icon a[href="/"],
	#admin-menu-icon .dropdown a[href="/admin/index"],
	#admin-menu-icon .dropdown a[href="http://drupal.org"]
  {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #admin-menu-menu.dropdown li.admin-menu-toolbar-category,
  #admin-menu-menu.dropdown
    li.admin-menu-toolbar-category.expandable
    .major-trigger {
    width: 100%;
  }

  #admin-menu-menu.dropdown li.admin-menu-toolbar-category.expandable:before {
    display: none;
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category > a {
    text-align: center;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category > .dropdown {
    position: relative;
    left: 0 !important;
    top: 0;
    width: 100%;
    height: auto;
  }

  #admin-menu .dropdown .admin-menu-toolbar-category.cat-open > .dropdown {
    max-height: 10000vh;
  }

  #admin-menu #admin-menu-menu {
    background: #333 !important;
    box-shadow: none;
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category > a {
    border-bottom: 0px solid #333;
  }

  #admin-menu-menu.dropdown .admin-menu-toolbar-category.cat-open > a {
    border-bottom: 10px solid #333;
  }
} 

/*END OF GLOBAL */